<ion-content [fullscreen]="true">
  <h2>Login</h2>
  <ion-item>
    <ion-label
      ><ion-icon ios="ios-person" md="md-person"></ion-icon> User:</ion-label
    >
    <ion-input type="text" #user></ion-input>
  </ion-item>
  <ion-item>
    <ion-label
      ><ion-icon ios="ios-lock" md="md-lock"></ion-icon> Password:</ion-label
    >
    <ion-input type="password" #password></ion-input>
  </ion-item>

  <button ion-button block (click)="login()">Login</button>
  <button ion-button block (click)="createAccount()">Create Account</button>
</ion-content>
